.admin_login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 90svh;
    justify-content: center;

}

.admin_login_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin_login_form input {
    padding: 10px;
    width: 100%;
    min-width: 320px
}

.admin_login_form button {
    padding: 10px;
    width: 100%;
    max-width: 150px;
    align-self: center;
}