.blog_list_container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.blog_card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.banner {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.banner img {
  width: 100%;
}

.blog_content {
  padding: 20px;
}

.blog_date {
  font-size: 1rem;
  color: gray;
  margin-bottom: 10px;
}

.blog_content h1 {
  font-size: 1.5rem;
}

.preview_text {
  margin: 10px 0;
  color: #333;
  font-size: 1rem;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background-color: #f0f0f0;
  color: #444;
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 20px;
}

.read_more {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s ease;
}

.read_more {
  font-size: 1rem;
}

.read_more:hover {
  text-decoration: underline;
  color: #002955;
}

@media (max-width: 400px) {
  .banner {
    height: 150px;
    object-fit: cover;
  }

  .blog_date {
    font-size: 0.6rem;
    color: gray;
    margin-bottom: 10px;
  }

  .blog_content h1 {
    font-size: 1rem;
  }

  .preview_text {
    font-size: 0.8rem;
  }

  .tag {
    font-size: 0.6rem;
  }

  .read_more {
    font-size: 0.8rem;
  }
}
