.delete_account_container {
    padding: 3%;
    background-image: url("../../../public/images/deleteaccount/contactusbg.svg");
    background-repeat: no-repeat;
}

.submitbutton_div {
    display: flex;
    justify-content: flex-end;
}

.delete_account_header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    padding: 0 15rem;
}

.delete_account_header2_content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.delete_account_header2_content p {
    font-size: 3rem;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
}

.delete_account_wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.delete_account_card {
    background-color: #ffffff;
    border-radius: 20px;
    gap: 3rem;
    width: 800px;
    padding: 2rem;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 15%);
    margin-top: 3rem;
}

.delete_account_form_wrapper1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.delete_account_form_group label {
    margin-bottom: 0px;
    font-family: 'Plus Jakarta Sans';
    font-weight: normal;
}

.delete_account_form_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.delete_submitbutton_div {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.delete_account_input {
    padding: 6px 12px !important;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #B5B5B5;
    border-radius: 0px;
    width: -webkit-fill-available;
}

p.delete_account_note {
    width: 80%;
    font-size: 1rem;
}

.delete_account_form_group {
    position: relative;
}

.delete_account_toggle_eye {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
}
.submit_button{
    background-color: #77A5B9;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 12px;
    width: 130px;
    font-size: 1rem;
}
.delete_account_password_wrapper{
    width: 100%;
}

@media (max-width: 768px) {
    .delete_account_header2 {
        padding: 0px;
    }

    .delete_account_header2_content p {
        font-size: 1.8rem;
        font-family: 'Plus Jakarta Sans';
        font-weight: bold;
        text-align: center;
    }

    p.delete_account_note {
        width: 100%;
        font-size: .6rem !important;
    }

    .delete_account_wrapper {
        margin-top: 0rem;
    }
}