.forgotpassword_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    gap: 2rem;
}

.forgotpassword_header_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.forgotpassword_wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 0.9;
    justify-content: center;
    align-items: center;
}

.forgotpassword_wrapper_content {
    width: 100%;
    max-width: 400px;
    /* Adjust for responsiveness */
    display: flex;
    flex-direction: column;
}

.form_inputes {
    width: 100%;
    margin-bottom: 20px;
}

.form_inputes input {
    width: -webkit-fill-available;
}

.forgotpassword_button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.forgotpassword_button {
    box-shadow: 0px 4px 5px 0px rgba(183, 197, 204, 30%);
    background-color: #D6E3EA;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans';
    min-width: 250px;
    max-width: 400px;
}

span.forgotpassword_content_heading {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans';
}

span.forgotpassword_content_note {
    font-size: 11px;
    font-family: 'Plus Jakarta Sans';
    margin-top: 1rem;
}

.form_inputes {
    margin-top: 2rem;
}

.form_inputes input {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
    font-family: 'Plus Jakarta Sans';
}

.forgotpassword_error_text {
    color: red;
    font-size: 10px;
}

/* verify otp css */
.verify_otp_inputs {
    display: flex;
    gap: 0.5rem;
}

.verify_otp_input {
    height: 55px;
    border-radius: 10px;
    border: 0.8px solid;
}

.resend_otp {
    font-size: 14px;
    font-family: 'Plus Jakarta Sans';
}

.verify_otp_inputs input {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans';
}

.form_inputes label {
    margin-bottom: 0px;
}

.form_inputes input {
    position: relative;
    padding: 10px;

}

.eye_icon {
    position: absolute;
    right: 1.6rem;
    width: 20px;
    top: 0.5rem;
}

.otp_message {
    color: red;
    font-size: 12px;
    font-family: 'Plus Jakarta Sans';
}

.forgotpassword_header_wrapper h4 {
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
}

span.pass_note {
    font-size: 8px;
}

.input_wrapper {
    position: relative;
}

