.videoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.videoWrapper {
  width: 415px;
  padding-top: 7rem !important;
}

@media (max-width: 770px) {
  .videoWrapper {
    width: 389px;
  }
}

@media (max-width: 440px) {
  .videoWrapper {
    width: 357px;
  }
}

@media (max-width: 380px) {
  .videoWrapper {
    width: 342px;
    padding-top: 9rem !important;
  }
}

@media (max-width: 330px) {
  .videoWrapper {
    width: 260px;
    padding-top: 12rem !important;
  }
}

.videoSection video {
  width: 100%;
  object-fit: cover;
  border: none;
}
