.review_section_container {
    position: relative;
  }
  .review_section_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .review_head_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 70px;
  }
  .review_heading {
    font-size: 0.875rem;
    color: #093258;
    font-weight: 600;
  }
  .review_para {
    font-size: 0.625rem;
    color: #686868;
    text-align: center;
  }
  .review_card_carousel {
    padding: 10px 0px;
    overflow-x: hidden;
  }
  .review_card_slider {
    width: 30%;
  }
  .review_card_container {
    padding: 50px;
  }
  .review_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.600000381469727px 6px rgba(0, 0, 0, 10%);
    border-radius: 30px;
  }
  .review_user_container {
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
    align-items: center;
  }
  .review_user_profile_pic {
    width: 15%;
    overflow: hidden;
    border-radius: 100px;
  }
  .review_user_profile_pic img {
    width: 100%;
    object-fit: contain;
  }
  .review_user_name {
    font-weight: 600;
    font-size: 0.875rem;
  }
  .review_user_rating {
    font-size: 0.875rem;
  }
  .review_content_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .review_content_heading {
    font-weight: 600;
    font-style: italic;
    font-size: 0.875rem;
  }
  .review_content_para {
    font-weight: 400;
    font-size: 0.625rem;
  }
  @media (max-width: 430px) {
    .review_card_slider {
      width: 30%;
    }
    .review_user_container {
      gap: 20px;
    }
    .review_user_profile_pic {
      width: 20%;
    }
  }
  @media (max-width: 380px) {
    .review_card_slider {
      width: 25%;
    }
    .review_user_container {
      gap: 20px;
    }
    .review_user_profile_pic {
      width: 30%;
    }
  }
  @media (max-width: 320px) {
    .review_heading {
      text-align: center;
    }
    .review_card_slider {
      width: 25%;
    }
    .review_user_container {
      gap: 20px;
    }
    .review_user_profile_pic {
      width: 30%;
    }
  }
  @media (min-width: 750px) {
    .review_head_wrapper {
      gap: 20px;
      padding: 0 70px;
    }
    .review_heading {
      font-size: 1.5rem;
    }
    .review_para {
      font-size: 1rem;
    }
    .review_card_carousel {
      padding: 10px 0px;
      overflow-x: hidden;
    }
    .review_card_slider {
      width: 30%;
    }
    .review_card_container {
      padding: 50px;
    }
    .review_card {
      gap: 20px;
      padding: 30px;
      border-radius: 30px;
    }
    .review_user_container {
      gap: 20px;
    }
    .review_user_profile_pic {
      width: 30%;
    }
    .review_user_name {
      font-size: 1.5rem;
    }
    .review_user_rating {
      font-size: 1.5rem;
    }
    .review_content_container {
      gap: 20px;
    }
    .review_content_heading {
      font-size: 1.5rem;
    }
    .review_content_para {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 1020px) {
    .review_head_wrapper {
      gap: 20px;
      padding: 0 70px;
    }
    .review_heading {
      font-size: 1.5rem;
    }
    .review_para {
      font-size: 1rem;
    }
    .review_card_carousel {
      padding: 10px 0px;
      overflow-x: hidden;
    }
    .review_card_slider {
      width: 30%;
    }
    .review_card_container {
      padding: 50px;
    }
    .review_card {
      gap: 20px;
      padding: 30px;
      border-radius: 30px;
    }
    .review_user_container {
      gap: 20px;
    }
    .review_user_profile_pic {
      width: 20%;
    }
    .review_user_name {
      font-size: 1.5rem;
    }
    .review_user_rating {
      font-size: 1.5rem;
    }
    .review_content_container {
      gap: 20px;
    }
    .review_content_heading {
      font-size: 1.5rem;
    }
    .review_content_para {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 1430px) {
    .review_head_wrapper {
      gap: 20px;
      padding: 0 70px;
    }
    .review_heading {
      font-size: 1.8rem;
    }
    .review_para {
      font-size: 1.2rem;
    }
    .review_card_carousel {
      padding: 10px 0px;
      overflow-x: hidden;
    }
    .review_card_slider {
      width: 30%;
    }
    .review_card_container {
      padding: 50px;
    }
    .review_card {
      gap: 20px;
      padding: 30px;
      border-radius: 30px;
    }
    .review_user_container {
      gap: 20px;
    }
    .review_user_profile_pic {
      width: 20%;
    }
    .review_user_name {
      font-size: 1.8rem;
    }
    .review_user_rating {
      font-size: 1.8rem;
    }
    .review_content_container {
      gap: 20px;
    }
    .review_content_heading {
      font-size: 1.8rem;
    }
    .review_content_para {
      font-size: 1.2rem;
    }
  }
  
  @media (min-width: 1910px) {
    .review_head_wrapper {
      gap: 20px;
      padding: 0 70px;
    }
    .review_heading {
      font-size: 2rem;
    }
    .review_para {
      font-size: 1.4rem;
    }
    .review_card_carousel {
      padding: 10px 0px;
      overflow-x: hidden;
    }
    .review_card_slider {
      width: 30%;
    }
    .review_card_container {
      padding: 50px;
    }
    .review_card {
      gap: 20px;
      padding: 30px;
      border-radius: 30px;
    }
    .review_user_container {
      gap: 20px;
    }
    .review_user_profile_pic {
      width: 20%;
    }
    .review_user_name {
      font-size: 2rem;
    }
    .review_user_rating {
      font-size: 2rem;
    }
    .review_content_container {
      gap: 20px;
    }
    .review_content_heading {
      font-size: 2rem;
    }
    .review_content_para {
      font-size: 1.4rem;
    }
  }
  
  @media (min-width: 2550px) {
    .review_head_wrapper {
      gap: 20px;
      padding: 0 70px;
    }
    .review_heading {
      font-size: 2.4rem;
    }
    .review_para {
      font-size: 1.8rem;
    }
    .review_card_carousel {
      padding: 10px 0px;
      overflow-x: hidden;
    }
    .review_card_slider {
      width: 30%;
    }
    .review_card_container {
      padding: 50px;
    }
    .review_card {
      gap: 20px;
      padding: 30px;
      border-radius: 30px;
    }
    .review_user_container {
      gap: 20px;
    }
    .review_user_profile_pic {
      width: 20%;
    }
    .review_user_name {
      font-size: 2.4rem;
    }
    .review_user_rating {
      font-size: 2.4rem;
    }
    .review_content_container {
      gap: 20px;
    }
    .review_content_heading {
      font-size: 2rem;
    }
    .review_content_para {
      font-size: 1.8rem;
    }
  }
  