:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fefffb;
  font-family:  "Montserrat", sans-serif;
  font-weight: normal;
  font-optical-sizing: none;
  overflow-x: hidden;
}

.body-scroll-locked {
  overflow-y: hidden !important;
}
