.featuredWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
  border-top: 1px solid black;
}

.heading {
  font-size: 3rem;
  color: #093258;
  font-weight: bold;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem 0; /* gap-y-20 = 80px */

  margin-bottom: 8rem; /* mb-32 = 128px */
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem; /* md:gap-x-16 = 64px */
    row-gap: 8rem; /* md:gap-y-32 = 128px */
  }
}

@media (min-width: 1024px) {
  .grid {
    column-gap: 8rem; /* lg:gap-x-32 = 128px */
  }
}

.imageContainer {
  margin-bottom: 1.25rem;
}
@media (min-width: 640px) {
  .imageWrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.imagelinkWrapper {
  display: block;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}
.imageBoxSizing {
  display: block;
  box-sizing: border-box;
  padding-top: 50%;
}
.blogBanner {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.404);
  transition: box-shadow 200ms ease;
  visibility: visible;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 20px;
}
.blogBanner:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.875rem;
  line-height: 1.375;
  margin-bottom: 0.75rem;
}
.title a {
  color: #363636;
  text-decoration: none;
}
.title a:hover {
  text-decoration: underline;
}

.date {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.preview {
  font-size: 1.125rem;
  line-height: 1.625;
  margin-bottom: 1rem;
  color: #777777;
}
