.features_section_container {
  position: relative;
  height: 100vh;
  margin-top: 7rem;
}

.features_section_container h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.transparentContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    #fdfefa 0%,
    rgba(253, 254, 250, 75%) 20%,
    rgba(253, 254, 250, 0%) 37%,
    rgba(254, 255, 251, 0%) 62%,
    rgba(254, 255, 251, 75%) 77%,
    #fefffb 100%
  );
}
.horizontalContainer {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  width: calc(100% * 4);
}

.horizontalSlide {
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureSlide {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.featureSlide h2 {
  font-size: 2.5rem;
  color: #353535;
  margin: 0;
  font-weight: 600;
  text-align: center;
}

.featureSlide p {
  font-size: 1rem;
  color: #656565;
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.featureSlide img {
  width: 264px;
  height: 537px;
}

@media (max-width: 1030px) {
  .featureSlide h2 {
    font-size: 2.2rem;
    color: #353535;
    margin: 0;
    font-weight: 600;
  }

  .featureSlide p {
    font-size: 0.8rem;
    color: #656565;
    margin: 0;
    text-align: center;
    font-weight: 500;
  }
  .featureSlide {
    width: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .featureSlide img {
    width: 254px;
    height: 517px;
  }
}

@media (max-width: 430px) {
  .featureSlide h2 {
    font-size: 2rem;
    color: #353535;
    margin: 0;
    font-weight: 600;
  }

  .featureSlide p {
    font-size: 0.7rem;
    color: #656565;
    margin: 0;
    text-align: center;
    font-weight: 500;
  }
  .featureSlide {
    width: 223px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .featureSlide img {
    width: 223px;
    height: 453px;
  }
}
