.main_section_container {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.main_section_text {
  display: flex;
  flex-direction: column;
  gap: 15px; /* gap-4 = 1rem */
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem; /* p-5 = 1.25rem */
}

@media (min-width: 640px) {
  .main_section_text {
    padding: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.main_section_text_heading {
  font-weight: 700; /* font-bold */
  line-height: 0.8;
  font-size: 52px;
  margin: 0;
}

@media (max-width: 770px) {
  .main_section_text_heading {
    font-size: 42px;
    line-height: 1;
  }
}
@media (max-width: 440px) {
  .main_section_text_heading {
    font-size: 38px;
  }
}

.main_section_text_heading_para {
  font-weight: 500;
  color: #656565;
  font-size: 32px;
  line-height: 0.8;
}

@media (max-width: 770px) {
  .main_section_text_heading_para {
    font-size: 22px;
    line-height: 0.8;
  }
}
@media (max-width: 440px) {
  .main_section_text_heading_para {
    font-size: 18px;
  }
}

.main_section_text_heading_hashtag {
  font-weight: 300;
  color: #656565;
  font-size: 14px;
}

.main_section_text_para {
  font-size: 1.5rem;
  font-weight: 400;
  color: #656565;
  margin: 0;
}

@media (max-width: 770px) {
  .main_section_text_para {
    font-size: 1.2rem;
    line-height: 0.8;
    line-height: 1.2;
  }
}
@media (max-width: 440px) {
  .main_section_text_para {
    font-size: 1rem;
    line-height: 1.3;
  }
}
