.main_section_container {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.main_section_text {
  display: flex;
  flex-direction: column;
  gap: 15px; /* gap-4 = 1rem */
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem; /* p-5 = 1.25rem */
}

@media (min-width: 640px) {
  .main_section_text {
    padding: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.main_section_text_heading {
  font-weight: 700; /* font-bold */
  line-height: 0.8;
  font-size: 52px;
  margin: 0;
}

@media (max-width: 770px) {
  .main_section_text_heading {
    font-size: 42px;
    line-height: 1;
  }
}
@media (max-width: 440px) {
  .main_section_text_heading {
    font-size: 38px;
  }
}

.main_section_text_heading_para {
  font-weight: 500;
  color: #656565;
  font-size: 32px;
  line-height: 0.8;
}

@media (max-width: 770px) {
  .main_section_text_heading_para {
    font-size: 22px;
    line-height: 0.8;
  }
}
@media (max-width: 440px) {
  .main_section_text_heading_para {
    font-size: 18px;
  }
}

.main_section_text_heading_hashtag {
  font-weight: 300;
  color: #656565;
  font-size: 14px;
}

.main_section_text_para {
  font-size: 1.5rem;
  font-weight: 400;
  color: #656565;
  margin: 0;
}

@media (max-width: 770px) {
  .main_section_text_para {
    font-size: 1.2rem;
    line-height: 0.8;
    line-height: 1.2;
  }
}
@media (max-width: 440px) {
  .main_section_text_para {
    font-size: 1rem;
    line-height: 1.3;
  }
}

.heroSection {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 78%,
    #14130D 100%
  );
}
.heroBgContainer{
  position: absolute;
  top: 20%;
  left: 0;
}
.heroBg {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.heroContent {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 3rem 1rem 2rem 1rem;
  text-align: center;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 800;
  color: #232323;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}

.heroSubtitle {
  font-size: 1.3rem;
  color: #656565;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.heroImageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 15%;
}

.heroAppImg{
  width: 80%;
  height: 40%;
  object-fit: cover;
  background: transparent;
}

.heroStoreButtons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

@media (max-width: 900px) {
  .heroAppImgLeft, .heroAppImgRight {
    width: 150px;
    height: 300px;
  }
  .heroTitle {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  .heroImages {
    gap: 0.5rem;
  }
  .heroAppImgLeft, .heroAppImgRight {
    width: 110px;
    height: 220px;
  }
  .heroTitle {
    font-size: 1.3rem;
  }
  .heroSubtitle {
    font-size: 1rem;
  }
}
