.footer_container {
    padding: 0px 20px 30px;
  }
  
  .footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer_line_wrapper {
    border-top: 1px solid #b4b4b4;
    margin: 0 20px;
  }
  
  .footer_brand_wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .brand_logo_wrapper {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .brand_logo_wrapper img {
    width: 100%;
  }
  
  .brand_name_wrapper {
    font-size: 0.625rem;
    font-weight: bold;
  }
  
  .t_and_c_container {
    text-decoration: underline;
    font-size: 0.625rem;
    cursor: pointer;
  }
  
  .contact_us_heading {
    font-size: 0.625rem;
    font-weight: bold;
  }
  
  .contact_us_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact_us_email {
    font-size: 0.625rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .contact_us_email:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  @media (min-width: 760px) {
    .footer_container {
      padding: 0px 20px 30px;
    }
  
    .footer_line_wrapper {
      margin: 0 40px;
    }
  
    .brand_logo_wrapper {
      width: 40px;
      height: 40px;
    }
  
    .brand_name_wrapper {
      font-size: 1rem;
    }
  
    .t_and_c_container {
      font-size: 1rem;
    }
  
    .contact_us_heading {
      font-size: 1rem;
    }
  
    .get_the_app_btn {
      padding: 8px 15px;
      border-radius: 8px;
      font-size: 1rem;
    }
  
    .contact_us_email {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 1430px) {
    .footer_container {
      padding: 0px 40px 60px;
    }
  
    .footer_wrapper {
      gap: 30px;
    }
  
    .footer_line_wrapper {
      margin: 0 90px;
    }
  
    .brand_logo_wrapper {
      width: 44px;
      height: 44px;
    }
  
    .brand_name_wrapper {
      font-size: 1.2rem;
    }
  
    .t_and_c_container {
      font-size: 1.2rem;
    }
  
    .contact_us_heading {
      font-size: 1.2rem;
    }
  
    .get_the_app_btn {
      padding: 8px 15px;
      border-radius: 8px;
      font-size: 1.2rem;
    }
  
    .contact_us_email {
      font-size: 1.2rem;
    }
  }
  
  @media (min-width: 1910px) {
    .footer_wrapper {
      gap: 30px;
    }
  
    .footer_line_wrapper {
      margin: 0 90px;
    }
  
    .brand_logo_wrapper {
      width: 55px;
      height: 55px;
    }
  
    .brand_name_wrapper {
      font-size: 1.4rem;
    }
  
    .t_and_c_container {
      font-size: 1.4rem;
    }
  
    .contact_us_heading {
      font-size: 1.4rem;
    }
  
    .get_the_app_btn {
      font-size: 1.4rem;
    }
  
    .contact_us_email {
      font-size: 1.4rem;
    }
  }
  
  @media (min-width: 2550px) {
    .footer_container {
      padding: 0px 60px 60px;
    }
  
    .footer_wrapper {
      gap: 30px;
    }
  
    .footer_line_wrapper {
      margin: 0 150px;
    }
  
    .brand_logo_wrapper {
      width: 74px;
      height: 74px;
    }
  
    .brand_name_wrapper {
      font-size: 1.8rem;
    }
  
    .t_and_c_container {
      font-size: 1.8rem;
    }
  
    .contact_us_heading {
      font-size: 1.8rem;
    }
  
    .get_the_app_btn {
      font-size: 1.8rem;
    }
  
    .contact_us_email {
      font-size: 1.8rem;
    }
  }
  