.footer_container {
  padding-top: 2rem;
}
.footer_container p {
  margin: 0;
}
.footer_wrapper {
  max-width: 80rem; /* max-w-7xl = 1280px = 80rem */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* px-4 = 1rem */
  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem; /* gap-8 = 2rem */
}

@media (min-width: 768px) {
  .footer_wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.footerBrand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.LegalList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.legalEle {
  font-size: 0.875rem; /* text-sm = 14px = 0.875rem */
  color: #4b5563; /* text-gray-600 */
  transition: color 0.2s ease; /* optional: smooth hover transition */
  text-decoration: none;
}
.legalEle:hover {
  color: #000000;
  font-weight: 700;
}
.SocialsEle {
  font-size: 0.875rem; /* text-sm = 14px = 0.875rem */
  color: #4b5563; /* text-gray-600 */
  transition: color 0.2s ease; /* optional: smooth hover transition */
  text-decoration: none;
  display: flex;
  gap: 2px;
}
.SocialsEle:hover {
  color: #000000;
  font-weight: 700;
}
.footerCopyright {
  max-width: 80rem; /* max-w-7xl = 1280px = 80rem */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* px-4 = 1rem */
  padding-right: 1rem;
  padding-top: 0.5rem; /* py-2 = 0.5rem */
  padding-bottom: 0.5rem;
  margin-top: 0.5rem; /* mt-2 = 0.5rem */
  border-top: 1px solid #e5e7eb; /* border-gray-200 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  .footerCopyright {
    flex-direction: row;
  }
}
