/* blogs.module.css */

.blog_detail {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog_content_container {
    display: flex;
    align-items: flex-start;
}

.blog_banner {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.back_btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 0 20px 0 0;
}

.blog_header {
    border-bottom: 0.2px solid #a5a5a5;
}

.blog_header h1 {
    font-size: 2rem;
}

.back_btn img {
    width: 100%;
}

.blog_body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 250px;
}

.blog_body h2 {
    font-size: 1.5rem;
}

.blog_body p {
    line-height: 1.7;
    margin: 10px 0;
    font-size: 1rem;
}

.blog_image_container {
    width: 100%;
}

.blog_image {
    width: 100%;
    object-fit: cover;
    height: 450px;
    border-radius: 8px;
    margin: 20px 0;
}

.blog_cta_btn {
    margin: 20px 0;
    box-shadow: 0px 2px 4px 0px rgba(134, 144, 148, 20%);
    background: linear-gradient(112.218deg, #b0bec5 0%, #d6e3ea 100%);
    color: #095846;
    padding: 8px 30px;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.blog_cta_btn a {
    font-size: 1.3rem;
    font-weight: 600;
    color: #095846;
    text-decoration: none;
    transition: 0.5s ease;
}

.blog_cta_btn a:hover {
    color: #435a55;
}


@media (max-width: 2570px) {
    .blog_detail {
        padding: 40px 100px;
    }

    .blog_content_container {
        flex-direction: column;
    }

    .blog_body {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0 250px;
    }

    .blog_cta_btn span {
        font-size: 1.4rem;
    }

    .blog_body p {
        font-size: 1.4rem;
    }

    .blog_body h2 {
        font-size: 1.5rem;
    }

    .blog_header h1 {
        font-size: 2rem;
    }
}

@media (max-width: 1450px) {
    .blog_detail {
        padding: 40px 100px;
    }

    .blog_content_container {
        flex-direction: column;
    }

    .blog_body {
        padding: 0 0;
    }

    .blog_cta_btn span {
        font-size: 1.4rem;
    }

    .blog_body p {
        font-size: 1.4rem;
    }

    .blog_body h2 {
        font-size: 1.5rem;
    }

    .blog_header h1 {
        font-size: 2rem;
    }
}

@media (max-width: 1030px) {
    .blog_detail {
        padding: 40px 20px;
    }

    .blog_content_container {
        flex-direction: column;
    }

    .blog_body {
        padding: 0 0;
    }

    .blog_cta_btn span {
        font-size: 1.2rem;
    }

    .blog_body p {
        font-size: 1.2rem;
    }

    .blog_body h2 {
        font-size: 1.4rem;
    }

    .blog_header h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 770px) {
    .blog_detail {
        padding: 40px 20px;
    }

    .blog_content_container {
        flex-direction: column;
    }

    .blog_body {
        padding: 0 0;
    }

    .blog_cta_btn span {
        font-size: 1rem;
    }

    .blog_body p {
        font-size: 1rem;
    }

    .blog_body h2 {
        font-size: 1.2rem;
    }

    .blog_header h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 430px) {
    .blog_detail {
        padding: 40px 20px;
    }

    .blog_content_container {
        flex-direction: column;
    }

    .blog_body {
        padding: 0 0;
    }

    .blog_cta_btn span {
        font-size: 0.8rem;
    }

    .blog_body p {
        line-height: 1.7;
        margin: 10px 0;
        font-size: 0.8rem;
    }

    .blog_body h2 {
        font-size: 1rem;
    }

    .blog_header h1 {
        font-size: 1.5rem;
    }

    .blog_cta_btn {
        padding: 5px 20px;
    }
}